<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="home_body" class="body">
    <header class="header">
        <h2 contenteditable>Enter ticker...</h2>
    </header>
    <div id="logo">TickrPro</div>
    <div id="timer_container">
        <h4 id="todayDate"></h4>
        <h5 id="market_status"></h5>
        <p id="market_clock"></p>
    </div>
    <div id="mkt_status_notification_container">
        <h5 id="mkt_status_notification"></h5>
    </div>
    <section id="index_section_container">
        <div class="index_container">
            <h5 class="mkt_name">
                S&P 500
            </h5>
            <h5 class="snp price">
                <%=prices.quoteResponse.result[0].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[0].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="snp percent_change">
                    <%=(prices.quoteResponse.result[0].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Nasdaq</h5>
            <h5 id="nasdaq" class="nasdaq price">
                <%=prices.quoteResponse.result[1].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[1].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="nasdaq percent_change">
                    <%=(prices.quoteResponse.result[1].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Dow Jones</h5>
            <h5 id="dowjones" class="dowjones price">
                <%=prices.quoteResponse.result[2].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[2].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="dowjones percent_change">
                    <%=(prices.quoteResponse.result[2].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Nikkei 225</h5>
            <h5 id="nikkei" class="nikkei price">
                <%=prices.quoteResponse.result[3].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[3].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="nikkei percent_change">
                    <%=(prices.quoteResponse.result[3].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Hang Seng</h5>
            <h5 id="hang" class="hang price">
                <%=prices.quoteResponse.result[4].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[4].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="hang percent_change">
                    <%=(prices.quoteResponse.result[4].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">FTSE 100</h5>
            <h5 id="ftse" class="ftse price">
                <%=prices.quoteResponse.result[5].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[5].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="ftse percent_change">
                    <%=(prices.quoteResponse.result[5].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Bitcoin USD</h5>
            <h5 id="bitcoin" class="bitcoin price">
                <%=prices.quoteResponse.result[6].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[6].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="bitcoin percent_change">
                    <%=(prices.quoteResponse.result[6].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">VIX</h5>
            <h5 id="vix" class="vix price">
                <%=prices.quoteResponse.result[7].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[7].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="vix percent_change">
                    <%=(prices.quoteResponse.result[7].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Gold</h5>
            <h5 id="gold" class="gold price">
                <%=prices.quoteResponse.result[8].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[8].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="gold percent_change">
                    <%=(prices.quoteResponse.result[8].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Crude Oil</h5>
            <h5 id="crudeoil" class="crudeoil price">
                <%=prices.quoteResponse.result[9].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[9].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="crudeoil percent_change">
                    <%=(prices.quoteResponse.result[9].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Natural Gas</h5>
            <h5 id="natgas" class="natgas price">
                <%=prices.quoteResponse.result[10].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[10].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="natgas percent_change">
                    <%=(prices.quoteResponse.result[10].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">U.S. 10-Yr</h5>
            <h5 id="ustenyr" class="ustenyr price">
                <%=prices.quoteResponse.result[11].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[11].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="ustenyr percent_change">
                    <%=(prices.quoteResponse.result[11].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">JPY/USD</h5>
            <h5 id="jpyusd" class="jpyusd price">
                <%=prices.quoteResponse.result[12].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[12].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="jpyusd percent_change">
                    <%=(prices.quoteResponse.result[12].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">EUR/USD</h5>
            <h5 id="eurusd" class="eurusd price">
                <%=prices.quoteResponse.result[13].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[13].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="eurusd percent_change">
                    <%=(prices.quoteResponse.result[13].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
        <div class="index_container">
            <h5 class="mkt_name">Russell 2000</h5>
            <h5 id="russell" class="russell price">
                <%=prices.quoteResponse.result[14].regularMarketPrice.toFixed(2)%>
            </h5>
            <div class="ppc_container">
                <h5 class="point_change">
                    <%=prices.quoteResponse.result[14].regularMarketChange.toFixed(2)%>
                </h5>
                <h5 class="russell percent_change">
                    <%=(prices.quoteResponse.result[14].regularMarketChangePercent.toFixed(2))%>%
                </h5>
            </div>
        </div>
    </section>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="home.js">
    </script>
    <script async="false">
        const indexContainers = document.querySelectorAll("body > section > .index_container");
        const priceOfIndex = document.querySelectorAll("body > section > .index_container > .price");
        const formatPrice = (container) => {
            for (let i = 0; i < container.length; i++) {
                let curr = container[i].innerText;
                let formatted = new Intl.NumberFormat("en-US", {
                    style: "decimal",
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                }).format(curr);
                container[i].innerText = formatted;
            }
        };
        const changePctPointsColor = (indexContainers, priceOfIndex) => {

            let regExMinus = new RegExp(/[-]/);
            let regExParens = new RegExp(/[()]/);
            let regExPlus = new RegExp(/[+]/);
            let regExComma = new RegExp(/[,]/);

            for (let i = 0; i < indexContainers.length; i++) {
                let pointsChangeNumText =
                    indexContainers[i].children[2].children[0].innerText;
                let percentChangeNumText =
                    indexContainers[i].children[2].children[1].innerText;

                if (regExMinus.test(percentChangeNumText)) {
                    indexContainers[i].children[1].style.color = "#c4283c";
                    indexContainers[i].children[2].children[0].style.color = "#c4283c";
                    indexContainers[i].children[2].children[1].style.color = "#c4283c";
                    if (regExParens.test(percentChangeNumText) !== true) {
                        indexContainers[
                            i
                        ].children[2].children[1].innerText = `(${percentChangeNumText})`;
                    }
                } else {
                    indexContainers[i].children[1].style.color = "#148a61";
                    indexContainers[i].children[2].children[0].style.color = "#148a61";
                    indexContainers[i].children[2].children[1].style.color = "#148a61";

                    //add plus sign to pointstext;
                    if (regExPlus.test(pointsChangeNumText) !== true) {
                        indexContainers[
                            i
                        ].children[2].children[0].innerText = `+${pointsChangeNumText}`;
                    }

                    //add parentheses
                    if (regExParens.test(percentChangeNumText) !== true) {
                        indexContainers[
                            i
                        ].children[2].children[1].innerText = `(+${percentChangeNumText})`;
                    }
                }
            }
        };
        const getPrices = async (indexContainers, api) => {
            const url = yf;
            const options = {
                method: "GET",
                headers: {
                    "X-RapidAPI-Key": api,
                    "X-RapidAPI-Host": rapidURL
                }
            };

            const response = await fetch(url, options).then((data) => { return data; }).catch((e) => console.log(e));
            const results = await response.text();

            let regMktPrice, regMktChange, regMktChangePercent;
            for (let i = 0; i < indexContainers.length; i++) {

                regMktPrice = formatPrice(results.quoteResponse.result[i].regularMarketPrice);
                regMktChange = formatPrice(results.quoteResponse.result[i].regularMarketChange);
                regMktChangePercent = formatPrice(results.quoteResponse.result[i].regularMarketChangePercent);

                indexContainers[i].children[1].innerText = regMktPrice;
                indexContainers[i].children[2].children[0].innerText = regMktChange;
                indexContainers[i].children[2].children[1].innerText = regMktChangePercent;
            }
            console.log(results);
            return;
        };
        let timeout = undefined;
        const idlePage = () => {
            if (timeout) {
                clearInterval(timeout);
            }
            timeout = setInterval(() => {
                location.reload();
            }, 10000);
        }
        let timeout2 = undefined;
        const activePage = () => {
            if (timeout2) clearInterval(timeout2);
            timeout2 = setInterval(async () => {
                await getPrices(indexContainers, apiKey);
                changePctPointsColor(indexContainers, priceOfIndex);
                console.log("active page");
            }, 120000);
        }

        formatPrice(priceOfIndex)
        changePctPointsColor(indexContainers, priceOfIndex);

    </script>
</body>

</html>