<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="ticker_body">
    <header class="headerBox">
        <h2 contenteditable></h2>
    </header>

    <section id="stock_price_container">
        <div id="home-chart-container">
            <div id="home-price-container">
                <div id="home_link_container">
                    <a href="http://localhost:3000" target="_self">Home</a>
                    <span id="arrow">></span>
                    <span id="symbol">
                        <%=checkSymbol.price.symbol%>
                    </span>
                </div>
                <div id="price_hours_container">
                    <h5 id="company_name">
                        <% const longName=checkSymbol.price.longName %>
                            <% const shortName=checkSymbol.price.shortName %>
                                <% let name=longName ? longName:shortName%>
                                    <%= name %>
                    </h5>
                    <div id="price_time_container">
                        <div id="reg_container" class="reg_after_container">
                            <div id="reg_hours_container" class="reg_after_hours_container">
                                <h3 id="reg_hours_price" class="price">
                                    <% let regMkPr=checkSymbol.price.regularMarketPrice%>
                                        <%=regMkPr%>
                                </h3>
                                <div class="hours_pct_container">
                                    <h5 id="reg_hours_change" class="price">
                                        <% let regMktChange=checkSymbol.price.regularMarketChange%>
                                            <%=regMktChange%>
                                    </h5>
                                    <h5 id="reg_hours_pct" class="price">
                                        <%let regMktChgPct=checkSymbol.price.regularMarketChangePercent%>
                                            <%=regMktChgPct%>
                                    </h5>
                                </div>
                            </div>
                            <div id="at_close_container" class="trading_hours_container">
                                <h6 id="at_close_txt"></h6>
                                <h6 id="at_close_time"></h6>
                            </div>
                        </div>
                        <div id="after_container" class="reg_after_container">
                            <div id="after_hours_pp_container" class="reg_after_hours_container">
                                <h5 id="after_hours_price" class="price">
                                    <% let postMktPrc=checkSymbol.price.postMarketPrice%>
                                        <% let preMktPrc=checkSymbol.price.preMarketPrice%>
                                            <%if(postMktPrc===undefined && preMktPrc !==undefined){ %>
                                                <% postMktPrc=preMktPrc} %>
                                                    <%=postMktPrc%>
                                </h5>
                                <div class="hours_pct_container">
                                    <h6 id="after_hours_change" class="price">
                                        <% let postMktChange=checkSymbol.price.postMarketChange %>
                                            <%=postMktChange%>
                                    </h6>
                                    <h6 id="after_hours_pct" class="price">
                                        <% let postMktChangePct=checkSymbol.price.postMarketChangePercent%>
                                            <%= postMktChangePct%>
                                    </h6>
                                </div>
                            </div>
                            <div id="after_hours_time_container" class="trading_hours_container">
                                <h6 id="after_hours_txt"></h6>
                                <h6 id="after_hours_time"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="chart_container">
                <canvas id="chart"></canvas>
                <div id="chart-timeline-container">
                    <h6 class="timeline-link">1D</h6>
                    <h6 class="timeline-link">1M</h6>
                    <h6 class="timeline-link">1Y</h6>
                    <h6 class="timeline-link">YTD</h6>
                    <h6 class="timeline-link">5Y</h6>
                    <h6 class="timeline-link">All Time</h6>
                </div>
            </div>

        </div>
        <section id="index_data_container" class="index_data_container">
            <div id="ratio-container">
                <div class="border-line">
                    <div id="fwdPeRatio">Forward P/E</div>
                    <% let fwdPeRatio="N/A" %>
                        <% if(checkSymbol.defaultKeyStatistics){ %>
                            <% if(checkSymbol.defaultKeyStatistics.forwardPE){ %>
                                <% fwdPeRatio=checkSymbol.defaultKeyStatistics.forwardPE}} %>
                                    <div id="fwdPeRatioData" class="indexData">
                                        <%=fwdPeRatio %>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="eps">EPS (TTM)</div>
                    <% let eps="N/A" %>
                        <% if(checkSymbol.defaultKeyStatistics){ %>
                            <% if(checkSymbol.defaultKeyStatistics.trailingEps){ %>
                                <% eps=checkSymbol.defaultKeyStatistics.trailingEps}} %>
                                    <div id="epsData" class="indexData">
                                        <%=eps%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="curr-ratio">Current Ratio</div>
                    <% let currRatio="N/A" %>

                        <% if(checkSymbol.financialData){ %>
                            <% if(checkSymbol.financialData.currentRatio){ %>
                                <% currRatio=checkSymbol.financialData.currentRatio}} %>
                                    <div id="curr-ratio" class="indexData">
                                        <%=currRatio%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="quick-ratio">Quick Ratio</div>
                    <% let quickRatio="N/A" %>

                        <% if(checkSymbol.financialData){ %>
                            <% if(checkSymbol.financialData.quickRatio){ %>
                                <% quickRatio=checkSymbol.financialData.quickRatio}} %>
                                    <div id="quick-ratio" class="indexData">
                                        <%=quickRatio%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="debt-ratio">Debt-to-Equity Ratio</div>
                    <% let debtRatio="N/A" %>
                        <% if(checkSymbol.financialData){ %>
                            <% if(checkSymbol.financialData.debtToEquity){ %>
                                <% debtRatio=checkSymbol.financialData.debtToEquity}}%>
                                    <div id="debt-ratio" class="indexData">
                                        <%=debtRatio%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="pb-ratio">Price-to-Book Ratio</div>
                    <% let pb="N/A" %>
                        <% if(checkSymbol.defaultKeyStatistics){ %>
                            <% if(checkSymbol.defaultKeyStatistics.priceToBook){ %>
                                <% pb=checkSymbol.defaultKeyStatistics.priceToBook}} %>
                                    <div id="pb-ratio" class="indexData">
                                        <%=pb%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="op-Margin">Operating Margin</div>
                    <% let opMargin="N/A" %>
                        <% if(checkSymbol.financialData){ %>
                            <% if(checkSymbol.financialData.operatingMargins){ %>
                                <% opMargin=checkSymbol.financialData.operatingMargins}} %>
                                    <div id="op-Margin" class="indexData">
                                        <%=opMargin%>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="prof-Margin">Profit Margin</div>
                    <% let profMargin="N/A" %>
                        <% if(checkSymbol.financialData){ %>
                            <% if(checkSymbol.financialData.profitMargins){ %>
                                <% profMargin=checkSymbol.financialData.profitMargins}} %>
                                    <div id="prof-Margin" class="indexData">
                                        <%=profMargin%>
                                    </div>
                </div>
            </div>
            <div id="prev-close-container">
                <div class="border-line">
                    <div id="prevClose">Previous Close</div>
                    <% let prvClose="N/A" %>
                        <% if(checkSymbol.summaryDetail){ %>
                            <% if(checkSymbol.summaryDetail.previousClose){ %>
                                <% prvClose=checkSymbol.summaryDetail.previousClose}} %>
                                    <div id="prevClosData" class="indexData">
                                        <%=prvClose %>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="open">Market Open</div>
                    <% let open="N/A" %>
                        <% if(checkSymbol.summaryDetail){ %>
                            <% if(checkSymbol.summaryDetail.open){ %>
                                <% open=checkSymbol.summaryDetail.open}} %>
                                    <div id="openData" class="indexData">
                                        <%=open %>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="dayLow">Day's Low</div>
                    <% let dayLow="N/A" %>
                        <% if(checkSymbol.summaryDetail){ %>
                            <% if(checkSymbol.summaryDetail.dayLow){ %>
                                <% dayLow=checkSymbol.summaryDetail.dayLow}} %>
                                    <div id="dayLowData" class="indexData">
                                        <%=dayLow %>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="dayHigh">Day's High</div>
                    <% let dayHigh="N/A" %>
                        <% if(checkSymbol.summaryDetail){ %>
                            <% if(checkSymbol.summaryDetail.dayHigh){ %>
                                <% dayHigh=checkSymbol.summaryDetail.dayHigh}} %>
                                    <div id="dayHighData" class="indexData">
                                        <%=dayHigh %>
                                    </div>
                </div>
                <div class="border-line">
                    <div id="fifty2WkLow">52 Week Low</div>
                    <% let fifty2WkLo="N/A" %>
                        <% if(checkSymbol.summaryDetail.fiftyTwoWeekLow){ %>
                            <% fifty2WkLo=checkSymbol.summaryDetail.fiftyTwoWeekLow} %>
                                <div id="fifty2WkLowData" class="indexData">
                                    <%=fifty2WkLo %>
                                </div>
                </div>
                <div class="border-line">
                    <div id="fifty2WkHigh">52 Week High</div>
                    <% let fifty2WkHi="N/A" %>
                        <% if(checkSymbol.summaryDetail.fiftyTwoWeekHigh){ %>
                            <% fifty2WkHi=checkSymbol.summaryDetail.fiftyTwoWeekHigh} %>
                                <div id="fifty2WkHighData" class="indexData">
                                    <%=fifty2WkHi %>
                                </div>
                </div>
                <div class="border-line">
                    <div id="twoHundDayAvg">200 Day Avg</div>
                    <% let twoHDAvg="N/A" %>
                        <% if(checkSymbol.summaryDetail.twoHundredDayAverage){ %>
                            <% twoHDAvg=checkSymbol.summaryDetail.twoHundredDayAverage} %>
                                <div id="twoHundDayAvgData" class="indexData">
                                    <%=twoHDAvg %>
                                </div>
                </div>
                <div class="border-line">
                    <div id='bid'>Bid</div>
                    <% let bid="N/A" %>
                        <% if(checkSymbol.summaryDetail.bid !==undefined){ %>
                            <% bid=checkSymbol.summaryDetail.bid} %>
                                <div id='bidData' class="indexData">
                                    <%=bid %>
                                </div>
                </div>
                <div class="border-line">
                    <div id="ask">Ask</div>
                    <%let ask="N/A" %>
                        <% if(checkSymbol.summaryDetail.ask !==undefined){ %>
                            <% ask=checkSymbol.summaryDetail.ask} %>
                                <div id="askData" class="indexData">
                                    <%=ask %>
                                </div>
                </div>
                <div class="border-line">
                    <div id="beta">Beta</div>
                    <%let beta="N/A" %>
                        <% if(checkSymbol.summaryDetail.beta){ %>
                            <% beta=checkSymbol.summaryDetail.beta} %>
                                <div id="beta" class="indexData">
                                    <%=beta %>
                                </div>
                </div>
                <div class="border-line">
                    <div id="mktCap">Market Cap</div>
                    <%let mktCap="N/A" %>
                        <% if(checkSymbol.summaryDetail.marketCap){ %>
                            <% mktCap=checkSymbol.summaryDetail.marketCap} %>
                                <div id="mktCap" class="indexData">
                                    <%=mktCap %>
                                </div>
                </div>
            </div>

        </section>
        <div id="summary_profile_container">
            <div id="summary_container">
                <h6>Summary</h6>
                <p id="company_desc">
                    <%let resultLB="" %>
                        <%if(checkSymbol.assetProfile){ %>
                            <%resultLB=checkSymbol.assetProfile.longBusinessSummary}%>
                                <%=resultLB%>
                </p>
            </div>
            <div id="profile_container">
                <% let h="" %>
                    <%if(checkSymbol.assetProfile){ %>
                        <%if(checkSymbol.assetProfile.address1){ %>
                            <% h="Profile" }}%>
                                <h6>
                                    <%=h %>
                                </h6>
                                <div id="profile_container2">
                                    <div id="address_container">
                                        <p id="address">
                                            <%let resultAd="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <%resultAd=checkSymbol.assetProfile.address1}%>
                                                        <%=resultAd%>
                                        </p>
                                        <div id="city_state_container">
                                            <p id="city">
                                                <%let resultCi="" %>
                                                    <%if(checkSymbol.assetProfile){ %>
                                                        <%resultCi=checkSymbol.assetProfile.city}%>
                                                            <%=resultCi%>
                                            </p>
                                            <p id="state">
                                                <%let resultSt="" %>
                                                    <%if(checkSymbol.assetProfile){ %>
                                                        <%resultSt=checkSymbol.assetProfile.state}%>
                                                            <%=resultSt%>
                                            </p>
                                            <p id="zip">
                                                <%let resultZ="" %>
                                                    <%if(checkSymbol.assetProfile){ %>
                                                        <%resultZ=checkSymbol.assetProfile.zip}%>
                                                            <%=resultZ%>
                                            </p>
                                        </div>

                                        <p id="country">
                                            <%let resultCoun="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <%resultCoun=checkSymbol.assetProfile.country}%>
                                                        <%=resultCoun%>
                                        </p>
                                        <p id="phone">
                                            <%let resultPh="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <%resultPh=checkSymbol.assetProfile.phone}%>
                                                        <%=resultPh%>
                                        </p>
                                        <p id="website">
                                            <%let resultWeb="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <% if(checkSymbol.assetProfile.website){ %>
                                                        <%resultWeb=checkSymbol.assetProfile.website}}%>
                                                            <a href="<%=resultWeb%>" target="_blank">
                                                                <%=resultWeb%>
                                                            </a>


                                        </p>
                                        <p id="industry">
                                            <%let rInd="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <% if(checkSymbol.assetProfile.industry){%>
                                                        <%rInd=checkSymbol.assetProfile.industry%>
                                                            <% rInd=`Industry: ${rInd}` }}%>
                                                                <%=rInd %>
                                        </p>
                                        <p id="sector">
                                            <%let rSec="" %>
                                                <%if(checkSymbol.assetProfile){ %>
                                                    <% if(checkSymbol.assetProfile.sector){%>
                                                        <%rSec=checkSymbol.assetProfile.sector%>
                                                            <% rSec=`Sector: ${rSec}`}} %>
                                                                <%=rSec%>
                                        </p>
                                    </div>
                                    <div id="key_execs_container">
                                        <ul id="title_name1">
                                            <li>
                                                <% let tit="" %>
                                                    <%if(checkSymbol.assetProfile){ %>
                                                        <% if(checkSymbol.assetProfile.companyOfficers[0]){ %>
                                                            <%tit=`${checkSymbol.assetProfile.companyOfficers[0].title}:`}}%>
                                                                <%=tit%>
                                            </li>
                                            <li>
                                                <% let nam="" %>
                                                    <% if(checkSymbol.assetProfile){ %>
                                                        <% if(checkSymbol.assetProfile.companyOfficers[0]){%>
                                                            <%nam=checkSymbol.assetProfile.companyOfficers[0].name}} %>
                                                                <%= nam %>

                                            </li>
                                            <li></li>
                                        </ul>
                                        <ul id="title_name2">
                                            <li>
                                                <% let tit2="" %>
                                                    <%if(checkSymbol.assetProfile){ %>
                                                        <% if(checkSymbol.assetProfile.companyOfficers[1]){ %>
                                                            <%tit2=`${checkSymbol.assetProfile.companyOfficers[1].title}:`}}%>
                                                                <%=tit2%>
                                            </li>
                                            <li>
                                                <% let nam2="" %>

                                                    <% if(checkSymbol.assetProfile){ %>
                                                        <% if(checkSymbol.assetProfile.companyOfficers[1]){%>
                                                            <%nam2=checkSymbol.assetProfile.companyOfficers[1].name}} %>
                                                                <%= nam2 %>
                                            </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div id="employee_container">
                                        <p>
                                            <% let emH="" %>
                                                <% if(checkSymbol.assetProfile){ %>
                                                    <% if(checkSymbol.assetProfile.fullTimeEmployees){%>
                                                        <%emH="Full Time Employees:"%>
                                                            <% }} %>
                                                                <%=emH%>
                                        </p>
                                        <p>
                                            <% let em="" %>
                                                <% if(checkSymbol.assetProfile){ %>
                                                    <% if(checkSymbol.assetProfile.fullTimeEmployees){%>
                                                        <% em=checkSymbol.assetProfile.fullTimeEmployees}} %>
                                                            <%= em %>
                                        </p>
                                    </div>
                                </div>

            </div>
        </div>
    </section>
    <footer id="ticker_footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script>
        const pageUrl = window.location.href;
        localStorage.setItem("url", pageUrl);
        const apiKey = '<%=API_KEY%>';
        const swiper = '<%=swiper%>';

        const canvas = document.querySelector("#chart");
        const stockTicker = '<%=checkSymbol.price.symbol%>';
        const rapidURL = '<%=RAPID%>';
        const mboumQuotes = '<%=MBOUMQUOTES%>';
        const regExp = /[a-zA-Z.^]/;
        const regExNums = /[0-9]/;
        const h2Box = document.querySelector("header>h2");
        const h2ChildNodes = h2Box.childNodes;
        const selection = window.getSelection();
        const pricePctContainers = document.querySelectorAll(".reg_after_hours_container");
        const priceTimeContainer = document.querySelector("#price_time_container");
        const afterHoursContainer = document.querySelector("#after_container");
        const atCloseContainer = document.querySelector("#at_close_container");
        const afterHoursTimeContainer = document.querySelector("#after_hours_time_container");
        const pricesAndPercents = document.querySelectorAll(".price");
        let postMktChangePct = document.querySelector("#after_hours_pct").innerText;
        const summaryProfileContainer = document.querySelector("#summary_profile_container");
        const companyDesc = document.querySelector("#company_desc");
        const ratioContainer = document.querySelector("#ratio-container");
        const indexData = document.querySelectorAll("#index_data_container > div > .border-line > .indexData");

        const setMarketTime = (timeStamp) => {
            let date, sessionTime, nycTime, nycDate;
            const timeStampCheck = Number(timeStamp);

            //yahoo time
            if (!timeStampCheck) {
                date = new Date(`${timeStamp}`);
            }

            //epoch time given by rapidapi,
            if (timeStampCheck) {
                date = new Date(timeStamp * 1000);
            }

            nycTime = date.toLocaleTimeString("en-US", { timeZone: "America/New_York", timeZoneName: "short" });
            nycDate = date.toLocaleDateString("en-US", { month: "short", day: "numeric" });
            sessionTime = `${nycDate} at ${nycTime}`;
            if (nycDate === "Invalid Date" || nycTime === "Invalid Date") sessionTime = "Not Available"
            return sessionTime;

        }
        const changePctPointsColor = (pricePctContainers) => {
            let regExMinus = new RegExp(/[-]/);
            let regExParens = new RegExp(/[()]/);
            let regExPlus = new RegExp(/[+]/);
            for (let i = 0; i < pricePctContainers.length; i++) {
                let priceString = pricePctContainers[i].children[0].innerText;
                let pointsText = pricePctContainers[i].children[1].children[0].innerText;
                let percentText = pricePctContainers[i].children[1].children[1].innerText

                if (regExMinus.test(pointsText)) {
                    pricePctContainers[i].children[0].style.color = "#b11e31";
                    pricePctContainers[i].children[1].children[0].style.color = "#b11e31";
                    pricePctContainers[i].children[1].children[1].style.color = "#b11e31";
                    if (regExParens.test(percentText) !== true) {
                        pricePctContainers[i].children[1].children[1].innerText = `(${percentText}%)`
                    }
                } else {
                    pricePctContainers[i].children[0].style.color = "#148a61";
                    pricePctContainers[i].children[1].children[0].style.color = "#148a61";
                    pricePctContainers[i].children[1].children[1].style.color = "#148a61";

                    if (regExPlus.test(pointsText) !== true) {
                        pricePctContainers[i].children[1].children[0].innerText = `+${pointsText}`
                    }

                    if (regExParens.test(percentText) !== true) {
                        pricePctContainers[i].children[1].children[1].innerText = `(+${percentText}%)`
                    }
                }
            }
        };
        const formatPrice = (container) => {
            for (let ele of container) {
                let formatted;
                const formatNum = ele.innerText;
                console.log(ele, formatNum)
                if (formatNum !== "N/A") {
                    formatted = new Intl.NumberFormat("en-US", {
                        style: "decimal",
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2,
                    }).format(formatNum);
                    ele.innerText = formatted;
                }
            }
            return
        };
        const getRapidPrices = async (api, symbol) => {
            const url = `${mboumQuotes}${symbol}`;
            const options = {
                method: "GET",
                headers: {
                    "X-RapidAPI-Key": api,
                    "X-RapidAPI-Host": rapidURL,
                },
            };

            const response = await fetch(url, options).then((data) => { return data; }).catch((e) => console.log(e));
            const result = await response.json();
            const marketState = result.body[0].marketState;
            const regMarketTime = result.body[0].regularMarketTime;
            const preMarketTime = result.body[0].preMarketTime;
            const postMarketTime = result.body[0].postMarketTime;

            console.log(result.body[0]);

            let regMktState = "Last Closed:", regMktPrice, regMktChange, regMktChangePercent,
                mktStatePrice, mktStateChange, mktStateChangePct, extendedMkTime, mktState;
            regMktPrice = result.body[0].regularMarketPrice;
            regMktChange = result.body[0].regularMarketChange;
            regMktChangePercent = result.body[0].regularMarketChangePercent;

            if (marketState === "REGULAR") regMktState = "Current Session:";
            //reg hours
            priceTimeContainer.children[0].children[0].children[0].innerText = regMktPrice;
            priceTimeContainer.children[0].children[0].children[1].children[0].innerText = regMktChange;
            priceTimeContainer.children[0].children[0].children[1].children[1].innerText = regMktChangePercent;
            if (regMarketTime) {
                atCloseContainer.children[0].innerText = regMktState;
                atCloseContainer.children[1].innerText = setMarketTime(regMarketTime);
            }

            if (result.body[0].postMarketPrice) {
                mktState = "After Hours:";
                mktStatePrice = result.body[0].postMarketPrice;
                mktStateChange = result.body[0].postMarketChange;
                mktStateChangePct = result.body[0].postMarketChangePercent;
                extendedMkTime = postMarketTime;
            }

            if (result.body[0].preMarketPrice) {
                mktState = "Pre-Market Hours:";
                mktStatePrice = result.body[0].preMarketPrice;
                mktStateChange = result.body[0].preMarketChange;
                mktStateChangePct = result.body[0].preMarketChangePercent;
                extendedMkTime = preMarketTime;
            }

            //extended hours
            priceTimeContainer.children[1].children[0].children[0].innerText = mktStatePrice;
            priceTimeContainer.children[1].children[0].children[1].children[0].innerText = mktStateChange;
            priceTimeContainer.children[1].children[0].children[1].children[1].innerText = mktStateChangePct;
            afterHoursTimeContainer.children[0].innerText = mktState;
            afterHoursTimeContainer.children[1].innerText = setMarketTime(extendedMkTime);

            return;
        };
        const yahooSetMktTime = () => {
            const yf2PrePrice = '<%=checkSymbol.price.preMarketPrice%>'
            let preTime = '<%=checkSymbol.price.preMarketTime%>'
            const yf2PostPrice = '<%=checkSymbol.price.postMarketPrice%>'
            let postTime = '<%=checkSymbol.price.postMarketTime%>'
            const regMktPrice = '<%=checkSymbol.price.regularMarketPrice%>'
            const regTime = '<%=checkSymbol.price.regularMarketTime%>';
            const marketStateYahoo = '<%=checkSymbol.price.marketState%>';
            let mktState, regDateTime = "Last Closed:", dateAndTime;

            if (marketStateYahoo === "REGULAR") {
                regDateTime = "Current Session:";
            }

            if (marketStateYahoo === "PRE" || marketStateYahoo === "PREPRE") {
                if (preTime) {
                    mktState = "Pre-Market Hours:";
                    dateAndTime = preTime;
                } else {
                    mktState = "After Hours:";
                    dateAndTime = postTime;
                }
            }

            if (marketStateYahoo === "POST" || marketStateYahoo === "POSTPOST" || marketStateYahoo === "CLOSED") {

                mktState = "After Hours:";
                dateAndTime = postTime;

            }

            atCloseContainer.children[0].innerText = regDateTime;
            atCloseContainer.children[1].innerText = setMarketTime(regTime);

            afterHoursTimeContainer.children[0].innerText = mktState;
            afterHoursTimeContainer.children[1].innerText = setMarketTime(dateAndTime);

            if (companyDesc.innerText === "") {
                summaryProfileContainer.style.display = "none";
                ratioContainer.style.display = "none";

            }
            if (setMarketTime(dateAndTime) === "Not Available") afterHoursContainer.style.display = "none";
        }

        let timeout = undefined, timeout2 = undefined;
        const idlePage = () => {
            if (timeout) {
                clearInterval(timeout);
            }
            timeout = setInterval(() => {
                location.reload();
                console.log("idle")
            }, 120000);
        }
        const activePage = () => {
            if (timeout2) clearInterval(timeout2);
            timeout2 = setTimeout(async () => {
                await getRapidPrices(apiKey, stockTicker);
                formatPrice(pricesAndPercents);
                changePctPointsColor(pricePctContainers);
                console.log("active");
            }, 120000);
        }

        document.addEventListener("click", idlePage);
        document.addEventListener("keypress", idlePage);
        document.addEventListener("mousemove", idlePage);

        h2Box.addEventListener("focus", () => {
            const h2ChildNodes = h2Box.childNodes;
            const selection = window.getSelection();
            if (h2Box.innerText === "Enter ticker...") {
                h2Box.innerText = "";
            }
            //set caret position after text node
            if (h2ChildNodes.length > 0) {
                selection.setPosition(h2ChildNodes[0], h2ChildNodes[0].length);
            } else {
                selection.setPosition(h2Box, 0);
            }

            return;
        });
        h2Box.addEventListener("focusout", () => {
            if (h2Box.innerText === "") h2Box.innerText = "Enter ticker...";
            if (h2Box.style.backgroundColor === "#15192f") {
                h2Box.style.backgroundColor === "#012c12";
            }
        });
        h2Box.addEventListener("keydown", (e) => {
            const textString = h2Box.innerText;
            if (textString.length >= 5 && e.key !== "Backspace" && e.key !== "Enter") {
                e.preventDefault();
                alert("Character amount exceeded");
            }
            //prevent navigation keys;
            if (textString.length > 0) {
                let navKeys = [
                    "ArrowLeft",
                    "ArrowRight",
                    "ArrowDown",
                    "ArrowUp",
                    "Left",
                    "Right",
                    "Up",
                    "Down",
                    "Home",
                    "End",
                    "Del",
                    "Delete",
                    "PageUp",
                    "PageDown",
                    "Insert",
                ];

                for (const ele of navKeys) {
                    if (e.key === ele) {
                        e.preventDefault();
                        alert("Invalid entry");
                    }
                }

                if (textString === "" && e.key === "Enter") {
                    e.preventDefault();
                    alert("enter a valid ticker");
                }

                if (e.key === "Enter" && textString !== "") {
                    //enter the ticker string into the url parameter
                    //grab the URL;
                    const url = `http://localhost:3000/tickrpro/${textString}`
                    console.log(url, typeof url)
                    //check ticker string
                    window.location.href = url;
                }
            }
            //prevent non-letters
            //Allow Backspace, Enter keys;
            //Note: navigation keys are failing the regexp test;
            if (regExp.test(e.key) === false) {
                if (e.key !== "Backspace" && e.key !== "Enter") {
                    e.preventDefault();
                    alert("Invalid entry");
                }
            }
        });

        h2Box.focus();
        ratioContainer.removeAttribute("style");
        afterHoursContainer.removeAttribute("style");
        summaryProfileContainer.removeAttribute("style");
        yahooSetMktTime();
        formatPrice(indexData);
        formatPrice(pricesAndPercents);
        changePctPointsColor(pricePctContainers);
        idlePage();
        activePage();

        //create chart
        const dataDay = {
            datasets: [{
                label: "Day's Price", data: [1205],
                borderColor: "#b11e31"
            }],
            labels: ["9:00 AM"],
        }

        let dotHoverColor = '#c4283c';

        const options = {
            responsive: true,
            maintainAspectRatio: true,
            scales: {
                y: {
                    stacked: true,
                    grid: {
                        display: true,
                        color: "#0d0042"
                    }
                },
                x: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        callback: (index) => {
                            console.log(dataDay.labels[index]);
                        }
                    },
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            },
            animations: {
                radius: {
                    duration: 800,
                    easing: 'linear',
                    loop: true,
                    radius: 8,
                    backgroundColor: dotHoverColor
                }
            },
            // hoverRadius: 8,
            // hoverBackgroundColor: dotHoverColor,
            interaction: {
                mode: 'furthest',
                intersect: false,
                axis: 'x'
            }

        }

        const config = {
            type: "line",
            data: dataDay,
            options: options
        }

        const chart = new Chart(canvas, config)
    </script>

</body>

</html>